body{ 
   height: 100dvb;
   background: 
    linear-gradient(#FFCCCB, #66FF99);
}

.checked {
    color: orange;
}

div.gallery{ 
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}