body{ 
   height: 250dvb;
   background: 
    linear-gradient(#FFCCCB, #66FF99);
}

.checked {
    color: orange;
}
 .large-image-contaner{ 
    max-width: 50%;
    max-height: 50%;
    opacity: 0.6;
    transition: 1s;
 }
 .large-image-contaner:hover{ 
    opacity: 3;
 }

 .small-image-container{ 
    z-index: 1;
    max-width: 40%;
    max-height: 40%;
    gap: 10px;
    display: flex; 
    opacity: 0.6;
    transition: 1s;
 }

 .small-image-container:hover{ 
    opacity: 3
 }
 .table-information, td, th{ 
    border: 1px solid;
    border-color: yellow;
 }

 .table-information{ 
    width: 100%; 
    border-color: yellow;
    border-collapse: collapse;
    border: 1px solid;
 }
 
