body{ 
   height: dvb;
   background: 
    linear-gradient(#FFCCCB, #66FF99);
}

.checked {
    color: orange;
}
 .large-image-contaner{ 
    max-width: 50%;
    max-height: 50%;
    opacity: 0.6;
    transition: 1s;
 }
 .large-image-contaner:hover{ 
    opacity: 3;
 }

 .small-image-container{ 
    z-index: 1;
    max-width: 40%;
    max-height: 40%;
    gap: 10px;
    display: flex; 
    opacity: 0.6;
    transition: 1s;
 }

 .small-image-container:hover{ 
    opacity: 3
 }
 .table-information, td, th{ 
    border: 1px solid;
    border-color: yellow;
 }

 .table-information{ 
    width: 100%; 
    border-color: yellow;
    border-collapse: collapse;
    border: 1px solid;
 }

 .p1{ 
    font-family: 'Courier New', Courier, monospace;
 }

 .slidecontainer {
   width: 100%; /* Width of the outside container */
 }
 
 /* The slider itself */
 .slider {
   -webkit-appearance: none; 
   appearance: none;
   width: 100%; 
   height: 25px; 
   background: #d3d3d3;
   outline: none; 
   opacity: 0.7; 
   -webkit-transition: .2s; 
   transition: opacity .2s;
 }
 
 .slider:hover {
   opacity: 1; 
 }
 
 .slider::-webkit-slider-thumb {
   -webkit-appearance: none; 
   appearance: none;
   width: 25px; 
   height: 25px;
   background: #04AA6D;
   cursor: pointer;
 }
 
 .slider::-moz-range-thumb {
   width: 25px; 
   height: 25px; 
   background: #04AA6D;
   cursor: pointer; 
 }